# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage

# production
/frontend/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Files in uploads folder except file.txt
/uploads/*
!/uploads/file.txt

/frontend/public/uploads/*
!/frontend/public/uploads/file.txt

/frontend/public/images/*
!/frontend/public/images/file.txt

.vscode/

/notes/
