{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap FontAwsome CSS, Custom CSS -->
    <link rel="stylesheet" href="{% static 'main/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/font awsome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/custom/style/style.css' %}">

    <!-- Custom CSS -->
    {% block css %}{% endblock css %}

    <title>Hello world!</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">BookTime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% comment %}
                    The 'request' variable comes from: django.template.context_processors.request.
                    It is instance of: django.http.HttpRequest that represents current HTTP request.
                {% endcomment %}
                <li class="nav-item {% if request.path == '/' %}active{%endif%}">
                    {# <a class="nav-link" href="/">Home</a> #}
                    <a class="nav-link" href="{% url 'product_list' %}">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/about/'%}active{%endif%}">
                    {# <a class="nav-link" href="/about">About</a> #}
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signout' %}">logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {# Using the cart's count method to return the total number of products in the cart #}
                    <a href="{% url 'cart' %}" class="nav-link">
                        <span class="badge badge-info">
                            {% if request.cart %}
                                {{request.cart.count}}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <div class="container-fluid mt-5">
        {% block content %}
        {% endblock content %}
    </div>
    
    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="{% static 'main/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'main/popper.min.js' %}"></script>
    <script src="{% static 'main/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    <!-- Custom JS -->
    {% block js %}{% endblock js %}
</body>
</html>